.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 5px 15px;

    &:hover {
        opacity: 0.8;
        fill-opacity: 80%;
        stroke-opacity: 80%;
    }
}

.clear,
.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--secondary-color);
}

.outline {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.outlineInverted {
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    background: none;
}

.background {
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    color: var(--primary-color);
}

.backgroundInverted {
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--secondary-color);
}

.backgroundInvertedBgColor {
    border: 2px solid var(--inverted-bg-color);
    background: var(--inverted-bg-color);
    color: var(--primary-color);
}

.backgroundGreen {
    border: 2px solid var(--green);
    background: var(--green);
    color: var(--primary-color);
}

.backgroundRed {
    border: 2px solid var(--red);
    background: var(--red);
    color: var(--primary-color);
}

.size_m {
    font: var(--font-m);
    border-radius: 8px;
}

.size_l {
    font: var(--font-m);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.size_xl {
    font: var(--font-m);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
}

.square.size_m {
    font: var(--font-m);
    border-radius: 0;
}

.square.size_l {
    padding: 0.5rem 1rem;
    font: var(--font-m);
    border-radius: 0;
}

.square.size_xl {
    padding: 0.75rem 1.5rem;
    font: var(--font-m);
    border-radius: 0;
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
