.app_dark_theme {
    --bg-color: #0d0324;
    --inverted-bg-color: #241e6d;
    --primary-color: #fefefc;
    --secondary-color: #546bf2;
    --grey100: #cfcdd3;
    --grey200: #898a9e;
    --green: #30b731;
    --red: #dd5471;
    --dark: #d0cdff30;
    --orange: #f37032;
    --purple-color: #bbc4fa80;

    // skeleton
    --skeleton-shadow: #2b2be8;
    --skeleton-color: #342b99;
}
